/* Подключаем переменные */
@import url("./variables.css");

/* Плавная прокрутка */
html {
  scroll-behavior: smooth;
}

/* Глобальные стили страницы */
body {
  font-family: var(--font-main);
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: var(--font-body-line-height);
  font-weight: var(--font-body-weight);
  overflow-x: hidden;
}

p,
li,
blockquote,
figcaption,
small {
  font-family: var(--font-main);
  font-size: var(--font-body-size);
  line-height: var(--font-body-line-height);
  font-weight: var(--font-body-weight);
}

/* Чтобы секции не прятались под фиксированным Header */
section {
  scroll-margin-top: 80px; /* высота Header */
}

h2 {
  color: var(--color-dark);
  font-family: var(--font-title);
}
